.header {

    $h: &;
    position: fixed;
    top:0;
    left:0;
    right:0;
    background: $white;
    z-index: 1000;

    @include mq(sm) {
        position: relative;
    }

    &__container {
        position: relative;
        height: 50px;

        @include mq(sm) {
            height: 80px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }

    &__logo {
        position: absolute;
        height: 30px;
        top: 8px;

        @include mq(sm) {
            height: 50px;
            top: 15px;
            left: 0;
        }

        img {
            height: 30px;
            width: auto;

            @include mq(sm) {
                height: 50px;
            }
        }
    }

    &__nav {
        @include trans;

        // position: fixed;
        // top: 50px;
        // bottom:0;
        // right:0;
        // width:100%;
        // max-width: 390px;
        // background: transparentize($black, .15);
        // transform: translateX(100%);
        // padding: 0 40px;
        // display: flex;
        // justify-content: center;
        // flex-direction: column;

        @include mq(sm){
            position: relative;
            background: none;
            width: 30%;
        }

        a {
            @include mq(sm) {
                color: $black;
                font-weight: 700;
            }
        }
    }

    &__menu {
        @include mq(sm) {
            display: flex;
            justify-content: space-evenly;
        }
    }

    &__buttons {
        // position: absolute;
        // right: 15%;
        // top: 50%;
        // transform: translate3d(0, -50%, 0);
        // display: flex;
        // align-items: center;
        // justify-content: space-evenly;
        // width: 100px;

        @include mq(sm) {
            display: flex;
            width: 10%;
            justify-content: space-evenly;

        }
    }

    &__button {
        @include mq(sm) {
            background: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        }

        i {
            @include mq(sm) {
                font-size: 28px;
                color: $black;
            }
        }
    }

    &__hamburguer {
        cursor: pointer;
        width: 25px;
        height: 25px;
        margin: auto;
        position: absolute;
        right: 20px;
        top: 15px;

        span {
            background-color: $black;
            border-radius: 2px;
            content: '';
            display: block;
            width: 100%;
            height: 2px;

            &:nth-child(1) {
                animation:outT 0.6s $easing backwards;
                animation-direction:reverse;
            }
            &:nth-child(2) {
                margin: 7px 0;
                animation:outM 0.6s $easing backwards;
                animation-direction:reverse;
            }
            &:nth-child(3) {
                animation:outBtm 0.6s $easing backwards;
                animation-direction:reverse;
            }
        }

        @include mq(sm) {
            display: none;
        }
    }

    &.-open {
        #{$h}__hamburguer {
            span:nth-child(1) {
                animation:inT 0.6s $easing forwards;
            }
            span:nth-child(2) {
                animation:inM 0.6s $easing forwards;
            }
            span:nth-child(3) {
                animation:inBtm 0.6s $easing forwards;
            }
        }

        #{$h}__nav {
            transform: translateX(0);
        }
    }
}

//hamburguer animations
@keyframes inM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@keyframes outM{
50%{transform:rotate(0deg);}
100%{transform:rotate(45deg);}
}

@keyframes inT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@keyframes outT{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(9px) rotate(0deg);}
100%{transform: translateY(9px) rotate(135deg);}
}

@keyframes inBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}
@keyframes outBtm{
0%{transform: translateY(0px) rotate(0deg);}
50%{transform: translateY(-9px) rotate(0deg);}
100%{transform: translateY(-9px) rotate(135deg);}
}
