header.header
    .container.header__container
        .header__logo.wow.fadeInDown
            a(href="/")
                img(src="/images/logo-black.png")
        nav.header__nav
            ul.header__menu
                each item in site.data.header
                    li
                        a(href=item.url, target="_blank")= item.name
        .header__buttons
            a.header__button(href="#")
                img(src="/images/home/icon-search.png")
            a.header__button(href="/carro-de-compras")
                img(src="/images/home/icon-cart.png")
        .header__hamburguer.wow.fadeInRight
            span
            span
            span
            
