extends ../_layouts/base

include ../_modules/slider/slider
include ../_modules/quantity-selector/quantity-selector

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    main.producto
        section.producto__hero
            .container
                .row.nopadding
                    .col-xs-24.col-sm-10
                        .producto__hero__bottle-malbec-reserva
                            img(src="../images/home/malbec-2.png")
                    .col-xs-24.col-sm-14
                        .producto__hero__row.producto__hero__row--data-malbec-reserva
                            .producto__hero__data
                                h2.producto__hero__title malbec reserva
                                p.producto__hero__text Vino joven, de agradable concentración y estructura, frutado y vivaz. Con notas de frutos rojos.
                                p.producto__hero__price $ 250
                            .producto__hero__col.producto__hero__col--bottle
                                img(src="../images/home/malbec-2.png")
                            .producto__hero__col
                                p.producto__hero__quantity Cantidad
                                +quantity-selector('1')
                                a.producto__hero__button(href="/carro-de-compras") Comprar ahora
                        .producto__hero__row.producto__hero__row--description
                            .producto__hero__wrapper.producto__hero__wrapper--malbec-reserva
                                p
                                    |composición
                                    br
                                    span 100% Malbec
                                img(src="../images/product/icon-grapes.png")
                            .producto__hero__image
                                img(src="../images/home/grapes.jpg")
        section.producto__origen
            .container
                .row.nopadding
                    .col-xs-24.col-sm-10
                        .producto__origen__wrapper.producto__origen__wrapper--text
                            p.porducto__origen__text
                                |ORIGEN
                                br
                                |Valle de pedernal, Zonda y Tulum
                                br
                                |Sarmiento - San Juan, Argentina
                    .col-xs-24.col-sm-14
                        .producto__origen__wrapper.producto__origen__wrapper--images
                            .producto__origen__imagen--big
                                img(src="../images/home/valle1.jpg")
                            .producto__origen__imagen--small
                                img(src="../images/product/slide2.jpg")
        section.producto__bottle-display
            .container-fluid
                .row.nopadding
                    .col-xs-24.col-sm-8
                        a.producto__bottle-display__container.producto__bottle-display__container--left(href="#")
                            img(src="../images/home/blanc.png")
                    .col-xs-24.col-sm-8
                        a.producto__bottle-display__container.producto__bottle-display__container--center(href="#")
                            img(src="../images/home/malbec-2.png")
                    .col-xs-24.col-sm-8
                        a.producto__bottle-display__container.producto__bottle-display__container--right(href="#")
                            img(src="../images/product/pasita.png")
    
